.App {
  padding: 2em;
  text-align: center;
}

.App header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.App header h1 {
  font-size: 1em;
}
.App header h1 a {
  color: white;
}

.App a {
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 3px;
  padding: 5px;
  color: white;
  transition: border-color .25s ease;
}

.App nav a:hover {
  border-color: rgba(255,255,255,1);
}

.App nav a + a {
  margin-left: .5em;
}
